@import "portlet_hello_world";

body {
	background-color: #fff;
}

.navbar-header {
	display: none;
}

header#banner {
	padding: 0;
	background-color: white;
	max-width: 100%;
}

footer#footer {
	margin: 0;
}

.navbar-right {
	display: none;
}

.logo {
	background-image: url('../images/logo.png');
	width: 62px;
	height: 54px;
	margin-top: -14px;
	float: left;
	cursor: pointer;
}

.btn-login {
	width: 100px;
	background-color: #fff;	
	border: 1px solid #3E9CFC;
	border-radius: 2px;
	color: #3E9CFC;
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	float: right;
    padding: 8px;
    text-align: center;
    margin-right: 11px;
    margin-top: 16px;
    cursor: pointer;
}

.btn-login:hover {
	background-color: #3E9CFC;	
	color: #fff;
}

.navbar-left {
	
	margin-top: 30px;

	ul {
		float: left;
		list-style: none;
		padding-left: 7px;
		
		li:first-child {
			margin-left: 20px;
		}

		li {			
			height: 44px;
			position: relative;;
			float: left;
			cursor: pointer;
			margin-left: 40px;			

			a {				
				color: #3e9cfc;				
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;				
				padding: 10px 7px 12px;
			}
		}
	}
}

.section-one {	
	background-image: url('../images/background_image.png');
	background-size: cover;	
	height: 800px;		
}

.section-two {
	background-image: url('../images/individual_family_bar.png');
	background-size: cover;	
	height: 200px;	
}

.bg-section-two {
	background-color: #3E9CFC;
}

.section-three {

	padding: 80px 110px;

	ul {			
		padding: 0;
		list-style: none;	

		li {			
			cursor: pointer;
			margin-right: 32px;	
			float: left;
			
			.content-box {
				transition: all .2s ease-in-out;				
				text-align: center;
				padding-top: 50px;
				width: 332px;
				height: 320px;
				background-color: #fff;
				border-radius: 6px;
				box-shadow: 0 0 20px rgba(0, 4, 61, 0.1);

				.content-box-info {
					text-align: center;
					margin: 0 auto;
					width: 225px;
					color: #4a4a4a;					
					font-size: 26px;
					font-weight: 200;
					line-height: 36px;
					padding-top: 30px;
				}
			}

			.logo-page {				
				height: 80px;
				margin: 0 auto;			
			}

			.logo-page-1 {
				background-image: url('../images/page-1.png');
				width: 85px;
			}

			.logo-page-2 {
				background-image: url('../images/page-2.png');
				width: 85px;
			}

			.logo-page-3 {
				background-image: url('../images/page-3.png');
				width: 89px;
			}

		}

		li:last-child {
			margin-right: 0;
		}

		li .content-box:hover {
			transform: scale(1.1); 
		}

	}

}

.bg-section-three {
	background-color: #fafafa;
}

.container-fluid-1280 .row {
	margin-left: 15px;
	margin-right: 15px;
}

#wrapper {
	padding: 0;
}

.portlet-forms-display {
	.portlet-title-text {
		display: none;
	}

	.lfr-ddm-form-container .lfr-ddm-form-page {
		padding: 0;
	}

	.portlet-content {
		box-shadow: 5px 0 34px rgba(0,0,0,0.2);
		border-radius: 8px;
	}

	.ddl-form-basic-info {
		.ddl-form-name {
			padding: 16px 0 0 0;
		}
	}

	.ddl-form-body-content {
		margin-top: 0;
	}
}

#banner {
	padding: 20px 0;
	position: relative;

	a:active, a:hover, a:focus {
		text-decoration: none;
	}

	.portlet-topper {
		z-index: 1;
	}

	.navbar-collapse {
		@include sm {
			padding-right: 4px;
		}
	}

	.navbar-toggle {
		margin: 12px 0 12px 6px;
	}

	#heading .site-name {
		color: $solid-color;
		font-size: 150%;
		margin-left: 8px;
		vertical-align: middle;

		@include sm {
			letter-spacing: 2px;
			margin-left: 20px;
		}
	}

	#navigationCollapse {
		@include media-query(null, $screen-xs-max) {
			font-size: 125%;
			margin-left: -15px;
			margin-right: -15px;
		}

		#navigation {
			.input-container {
				position: relative;
			}

			.portlet {
				&, .portlet-body > .navbar {
					margin-bottom: 0;
				}
			}

			li.open > a:focus {
				@include tab-focus;
			}
		}

		.navbar-blank > li {
			& > a {
				color: $solid-color;
			}

			&:hover, &.hover, &.active, .dropdown-menu .active {
				& > a {
					color: #000;
				}
			}
		}

		@include media-query(null, $screen-xs-max) {
			.nav > li {
				> a {
					border-bottom: 1px solid #E1E1E1;
				}

				&:last-child > a {
					border-bottom-width: 0;
				}
			}
		}
	}

	.navbar-form {
		@include sm {
			margin-left: 30px;
		}

		.input-text-wrapper {
			@include media-query(null, $screen-xs-max) {
				display: block;
			}
		}

		.form-control {
			background-color: transparent;
			border-bottom-width: 1px;
			border-color: #D6DCE2;
			margin-top: 2px;

			@include media-query(null, $screen-xs-max) {
				border-width: 0;
			}
		}

		.search-select {
			margin-right: 40px;
			padding-right: 20px;
		}

		.search-input {
			font-size: 16px;
			padding-right: 32px;

			@include sm {
				height: auto;
				max-width: 200px;
			}
		}

		.field-wrapper {
			position: absolute;
			right: 0;
			top: 0;

			a {
				color: $complementary-color;
			}
		}
	}

	.user-personal-bar {
		@include sm {
			position: absolute;
			right: 20px;
			top: 0;
		}

		.panel-notifications-count {
			top: 50%;

			@include transform(translateY(-50%));

			@include sm {
				right: -15px;
			}
		}

		.sign-in > a, .user-avatar-link {
			display: block;
		}

		.sign-in > a {
			line-height: 28px;
			padding: 15px 4px;
		}

		.user-avatar-image {
			display: inline-block;
			vertical-align: text-bottom;
			width: 32px;
		}

		.user-avatar-link {
			line-height: 0;
			padding: 18px 4px;

			@include sm {
				padding: 8px 0 8px 14px;
			}
		}

		.panel-notifications-count {
			@include media-query(null, $breakpoint_tablet - 1) {
				left: 2px;
				position: relative;
				top: 6px;
			}
		}

		.icon-user, .user-full-name {
			display: none;
		}
	}

	.navbar-nav {
		@include media-query(null, $screen-xs-max) {
			margin: 0 0;
		}
	}

	.lfr-nav-item .lfr-nav-child-toggle {
		line-height: 28px;
		margin-top: -14px;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		right: 4px;
		top: 50%;

		@include media-query(sm, null) {
			position: relative;
		}

		@include md {
			padding: 0 0 0 8px;

			.lexicon-icon {
				width: 8px;
			}
		}
	}

	@include sm {
		padding: 40px 0 30px;
	}
}

#content .row {
	margin-left: -15px;
	margin-right: -15px;
}

#footer {
	background-color: transparent;
	color: $brand-default;
	margin-bottom: 60px;
	padding: 40px 20px;

	a {
		color: $brand-default;
		font-weight: bold;
	}
}

.modify-pages .delete-tab {
	top: 22px;
}

.display-style-buttons > .dropdown > .dropdown-menu {
	&:after, &:before {
		@include media-query(null, $screen-xs-max) {
			border-width: 0;
		}
	}
}

@include media-query(null, $screen-sm-max) {
	.overlay-focused:focus {
		outline: 0;
	}
}

.ae-sr-only {
	display: none;
}

.nas-presentation-form {
	$green-color: #38e9c0;

	.lfr-ddm-form-field-container {
		padding: 10px 0 10px 0;	
	}
	
	.liferay-ddm-form-field-paragraph {
		h1, + p {
			margin-top: 0;	
		}
	}

	.liferay-ddm-form-field-paragraph h1 {
		color: $green-color;
	}
}